:root{
    --navbar-text-color-normal: black;
    --navbar-text-color-hover: white;
    --navbar-footer-background-color: #3D8A9F;
    --light-text-color: #E6F4F1;
    --light-placeholder-color: rgba(230, 244, 241, 0.3);
    --mid-dark-blue: #005468;
    --dark-blue: #002435;
    --dark-blue-transparent: rgba(0, 35, 51, 0.40);
    
}

body{
    background-color: grey;   
}

/* navbar start */
.navbar-container{
    background-color: var(--navbar-footer-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    color: white;
    margin-left: 1em;
}

.menu-container ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
}

.menu-container ul a{
    text-decoration: none;
    color: var(--navbar-text-color-normal);
    position: relative;
}

.menu-container ul a:hover{
    color: var(--navbar-text-color-hover);
}

.menu-container ul a::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--navbar-text-color-hover);
    transform: scaleX(0);
}

.menu-container ul a:hover::after{
    background-color: beige;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.menu-container li{
    margin-right: 1em;
}
/* navbar end */


/* content grid start */
.grid-container{
    background-color: beige;
    display: grid;
    row-gap: 10px;
    width: 100%;
    grid-template-areas: 
        "activity-name graph"
        "schedule statistics"
    ;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    grid-template-rows: 240px 240px;
}

.activity-input-container{
    grid-area: activity-name;
    text-align: center;
}

.activity-input{
    font-size: 3rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
    background-color: var(--mid-dark-blue);
    color: var(--light-text-color);
    
    caret-color: var(--light-text-color);
    border: 0;
    
}

.activity-input::placeholder{
    color: var(--light-placeholder-color);
}


.btn{
    margin-right: 10px;
    border-radius: 50px;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1.5em;
    color: var(--light-text-color);
    background-color: var(--mid-dark-blue);
    box-shadow: 0 4px 8px 0 var(--dark-blue-transparent);
    border: 0;
}

.btn:hover{

    background-color: var(--dark-blue);
}

.graph-container{
    grid-area: graph;
    border: 2px solid chocolate;
    
}





table :not(h1){
    border: 2px solid black;
    font-size: 1.1em;
}



.schedule-container{
    grid-area: schedule;
    outline: 2px solid red;
    text-align: center;
}



.statistics-container{
    grid-area: statistics;
    background-color: blanchedalmond;
    outline: 2px solid blue;
}

.table-container h1{
    text-align: center;
}


/* content grid end */