:root{
    --navbar-text-color-normal: black;
    --navbar-text-color-hover: white;
    --navbar-footer-background-color: #3D8A9F;
}

body{
    background-color: grey;
}


/* navbar start */
.navbar-container{
    background-color: var(--navbar-footer-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    color: white;
    margin-left: 1em;
}

.menu-container ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
}

.menu-container ul a{
    text-decoration: none;
    color: var(--navbar-text-color-normal);
    position: relative;
}

.menu-container ul a:hover{
    color: var(--navbar-text-color-hover);
}

.menu-container ul a::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--navbar-text-color-hover);
    transform: scaleX(0);
}

.menu-container ul a:hover::after{
    background-color: beige;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.menu-container li{
    margin-right: 1em;
}
/* navbar end */
