:root{
    --navbar-text-color-normal: black;
    --navbar-text-color-hover: white;
    --navbar-footer-background-color: #3D8A9F;
    --light-text-color: #E6F4F1;
    --light-placeholder-color: rgba(230, 244, 241, 0.3);
    --mid-dark-blue: #005468;
    --dark-blue: #002435;
    --dark-blue-transparent: rgba(0, 35, 51, 0.4);
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

h1{
    text-align: center;
}

th, td{
    word-wrap: break-word;
}

.general-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100%;
    z-index: 5;
}



.warning-message-box, .warning-message-box-active, .warning-message-box-active2{
    padding: 15px 0;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(255, 255, 0, 0.2); */
    background-color: blue;
    font-size: 2em;
    text-align: center;    
    transform-origin: bottom;
    height: 4%;
    transform: scaleY(0);
    color: orange; /* ? */
    display: none;
}

.warning-message-box-active{
    display: block;
    animation: popup-open 5s ease-in;
}

.warning-message-box-active2{
    display: block;
    animation: popup-open 5s ease-in;
}


@keyframes popup-open {
    0%{
        transform: scaleY(0);
    }
    10%, 90%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}


/* navbar start */
.navbar-container{
    background-color: var(--navbar-footer-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    color: white;
    margin-left: 1em;
}

.menu-container ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
}

.menu-container ul a{
    text-decoration: none;
    color: var(--navbar-text-color-normal);
    position: relative;
}

.menu-container ul a:hover{
    color: var(--navbar-text-color-hover);
}

.menu-container ul a::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--navbar-text-color-hover);
    transform: scaleX(0);
}

.menu-container ul a:hover::after{
    background-color: beige;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.menu-container li{
    margin-right: 1em;
}
/* navbar end */




/* content start */
.content-container{
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 0 5% 0 5%;
}

.top-flex{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.bot-flex{
    display: flex;
    padding: 10px 0 10px 0;
}

@media screen and (max-width: 800px) {
    .top-flex, .bot-flex{
        flex-direction: column;
        align-items: center;
    }

    .schedule-container, .schedule-table-container,
    .statistics-container, .statistics-table-container{
        width: 100% !important;
    }

    .activity-input{
        font-size: 2rem !important;
    }

    .btn{
        font-size: 1.15em !important;
    }
}



.activity-input-container{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.activity-input{
    font-size: 3rem;
    width: 70%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: var(--mid-dark-blue);
    color: var(--light-text-color);
    
    caret-color: var(--light-text-color);
    border: 0;
}

.activity-input::placeholder{
    color: var(--light-placeholder-color);
}


.btn{
    margin-right: 10px;
    border-radius: 50px;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1.5em;
    color: var(--light-text-color);
    background-color: var(--mid-dark-blue);
    box-shadow: 0 4px 8px 0 var(--dark-blue-transparent);
    border: 0;
}

.btn:hover{

    background-color: var(--dark-blue);
}

.graph-container{
    width: 20%;
    text-align: center;
}





table {
    font-size: 1.3em;
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    margin: 0 auto 0 auto;
}

th, td{
    border: 2px solid black;
}

thead > *{
    border-top: none;
}

th:first-child, td:first-child{
    border-left: none;
}

th:last-child, td:last-child{
    border-right: none;
}

tr:last-child td{
    border-bottom: none;
}


.schedule-container{
    width: 70%;
    text-align: center;
}

.schedule-table-container{
    width: 100%;
}


.statistics-container{
    width: 20%;
    text-align: center;
}

.statistics-table-container{
    width: 100%;
}


/* content end */


#warning-container{
    color: red;
    width: max-content;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
}

#warning-image-container{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
}




/* footer start */
.footer-container{
    background-color: var(--navbar-footer-background-color);
    /* flex: 0; */
    text-align: center;
}


.links-container {
    margin-top: 10px;
}

.links-container a{
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
}


.credits{
    font-size: 0.6em;
}

/* footer end */




